*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
   margin: 267px 16px 0px 275px;
}
table {
    width: 100%;
    text-align: left;
   border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #B2DFFF;
}
tr>td{
    padding:20px 0px 20px 20px;
}
.table-data-icons{
    display: flex;
    gap: 15px;
}
tr:hover{
    background-color: #f2cdcd;
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}